.parent {
    width: 50%;
    height: 50vh;
    border: 5px solid green;

    position: relative;
    top: 50px;
    left: 250px;
}

.child {
    width: 100px;
    height: 100px;
    border: 5px solid gold;

    position: absolute;
    right: 0;
    bottom: 20px;
}