
/* .b{
    background-color: aqua;
    width: 50%;
    display: none;
}

.i{
    background-color: blue;
    display: inline-block;
    width: 50%;
} 
    
h1{
    background-color: aqua;
    display: inline-block;
} */


/* .container{
    background-color: aqua;
    width: 50%;
    position: static;
    position: fixed;
    position: relative;
    position: absolute;
    position: sticky;
    top: 50px;

} */

/* .container{
    background-color: aqua;
    width: 80%;
    height: 40vh;
    position: relative;
}


.cn{
    background-color: brown;
    width: 50%;
    display: inline-block;

    position: absolute;
    top: 50%;
    left: 20%;
    right: 0;
    bottom: 0;
} */