/* 
Display Types:
    display: none;              => The element is completely removed
    display: inline;            => Displays an element as an inline element like <span>
    display: block;             => Displays an element as a block element like <p>
    display: inline-block;      => Displays an element as an inline-level block container.
                                => The element itself is formatted as an inline element, but you can apply height and width values
*/