.test1 {
    background-color: blue;
    width: 50%;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;

    z-index: 5;
}

.test2 {
    background-color: red;
    width: 50%;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;

    z-index: -1;
}

.test3 {
    background-color: black;
    width: 50%;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 150px;
}



ul{
    list-style-type: decimal;
    /* list-style-image: url('back-img.avif') ; */
    list-style-position: inside;
    list-style-type: none;
    list-style: circle inside ;


    cursor: pointer;
}

input{
    width: 50%;
    height: 50px;

    caret-color: red;
}


p {
    float: none;
}