.box {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.btn {
    background-color: green;
    width: 150px;
    height: 80px;
}

.hide {
    background-color: aqua;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.505);

    width: 200px;
    height: 100px;

    display: none;
}

.box:hover .hide{
    display: block;
}