:root {
    --mainColor : rgb(255,0,0) ;
    --secondColor : rgb(0,150,255) ;
}


body{
    background-color: var(--secondColor) ;
}

.big-box div {
    background-color: aqua;
    /* width: 100px;
    height: 100px; */
}

.big-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 100px 100px 100px 100px 100px;
    column-gap: 10px;
    row-gap: 20px;
    gap: 50px 10px;
    gap: 30px;
}

.di1 {
    grid-column: 1 / 4 ;
}

.di7 {
    grid-column: 2 / span 3 ;
}

.di3 {
    grid-row: 2 / 4 ;
}

.di9 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2 ;
}