body{
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Logo */
.logo {
    font-size: 2.4rem;
}

.logo-m {
    color: orange;
}

/* Nav */
.nav {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;

    font-size: 1.4rem;
}

.nav li:hover {
    cursor: pointer;
    color: orange;
}

/* Button */
.info-btn button {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(31, 30, 30);
    width: 100px;
    height: 50px;
    border: 3px aqua solid;
    border-radius: 20px;
}

/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}