.face {
    background-color: yellow;
    width: 500px;
    height: 500px;

    border: 5px black solid;
    border-radius: 50%;

    position: relative;
    left: 500px;
    top: 100px;
}


.right {
    background-color: black;
    width: 70px;
    height: 70px;

    border-radius: 50%;

    position: absolute;
    top: 130px;
    left: 120px;
}

.left {
    background-color: black;
    width: 70px;
    height: 70px;

    border-radius: 50%;

    position: absolute;
    top: 130px;
    right: 120px;
}


.mouth {
    border-top: 5px black solid;
    border-radius: 50%;

    width: 300px;
    height: 200px;

    position: absolute;
    left: 100px;
    bottom: 30px;
}