.face {
    position: relative;
    background-color: orange;
    width: 500px;
    height: 500px;
    border-radius: 50%;

    left: 30%;
    top: 20px;
}

.right-eye {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 100px;
    border-radius: 50%;

    top: 130px;
    left: 120px;
}

.left-eye {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 100px;
    border-radius: 50%;

    top: 130px;
    /* left: 200px; */
    right: 120px;
}

.smile {
    position: absolute;
    /* background-color: black; */
    width: 300px;
    height: 200px;

    border: none;

    border-bottom: 10px black solid;
    border-radius: 50%;

    bottom: 100px;
    left: 100px;
}