/* h1 {
    color: red;
    background-color: aqua;
} */

/* 
#one {
    color: blue;
    background-color: orange;
}

#two {
    color: yellow;
    background-color: rebeccapurple;
}

.cl {
    color: aqua;
    background-color: black;
}

.clc {
    color: blue;
    background-color: brown;
} */

/* #one , .cl {
    color: azure;
    background-color: black;
} */


/* #one {   */
    /* Color name  */
    /* color: gold; */

    /* Hex decimal Color */     /* 0-9 a-f*/
    /* color:  #fa810f ; */

    /* RGB */       /* 0 - 255 */       /* alpha => 0.0 - 1.0 */
    /* color: rgb(225, 150, 100) ;  */
    /* color: rgba(244, 220, 50, 0.8) ; */
/* } */


/* .di {
    background-color: blueviolet; */
    /* width: 100px;
    height: 100px; */
    /* width: 50%;
    height: 40vh; */
    /* min-width: 10px;
    max-width: 50px; */
    /* min-height: 20px;
    max-height: 50px; 
}*/

.di {
    width: 80%;
    height: 60vh;
    /* background-color: red; */
    background-image: url('back-img.avif') ;
}