.box {
    /* width: 100px; */    
    text-align: justify;
    vertical-align: baseline;
    direction: ltr;

    text-decoration-line: overline underline;
    text-decoration-color: brown;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;

    text-decoration: line-through overline double blue 3px;
    text-decoration: none;

    text-transform: capitalize;

    text-shadow: 4px 5px 3px blue;
    text-shadow: 0 0 3px blue;
    text-shadow: none;

    font-weight: 100;
    font-size: 16px;
    font-size: 3em;
    font-size: 1.7rem;

    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}