@keyframes back-test {
    from{
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

@keyframes move {
    0% {
        background-color: red;
        top: 0;
        left: 0;
    }
    25% {
        background-color: green;
        top: 0;
        left: 70%;
    }
    50% {
        background-color: blue;
        top: 50vh;
        left: 70%;
    }
    75% {
        background-color: black;
        top: 50vh;
        left: 0;
    }
    100% {
        background-color: red;
        top: 0;
        left: 0;
    }
}


.test {
    width: 50%;
    /* position: absolute; */

    /* animation-name: back-test ;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease;
    animation: back-test 3s 1s infinite normal ease-in-out;

    animation: move 10s 0.5s infinite ease-in-out normal; */


    /* display: none;
    visibility: hidden; */
}

.over{
    background-color: aqua;
    width: 200px;
    height: 150px;

    overflow-x: auto;
    overflow-y: auto;
    overflow: auto;

    transform: translate(200px, 100px);
    transform: rotate(90deg);
    transform: skew(50deg);
    transform: scale(1.2);
}