body{
    position: relative;
}

div {
    width: 60%;
    height: 200px;
}

.d1{
    background-color: red;
    position: absolute;
}

.d2{
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 30px;
}


.d3{
    background-color: black;
    position: absolute;
    top: 20px;
    left: 60px;
}