.test {
    background-color: aqua;
    width: 300px;
    height: 300px;

    border: 20px solid red;
    padding: 50px;

    box-sizing: content-box;
    box-sizing: border-box;

    /* box-shadow: 0 0 10px 3px black; */
}


.pe {
    background-color: aqua;
}

.pe::before {
    content: "Before";
    background-color: black;
    color: yellow;
    font-size: 16px;
    text-decoration: line-through;
}

.pe::after {
    content: "After";
    background-color: black;
    color: yellow;
    font-size: 16px;
}

.box {
    position: relative;
    background-color: blueviolet;
    width: 250px;
    height: 100px;

    border-radius: 20px;
    padding: 20px;

    box-sizing: border-box;
    color: wheat;
    font-size: 25px;
}

.box::before {
    content: "";
    border-top: blueviolet 10px solid;
    border-right: transparent 10px solid;
    border-left: transparent 10px solid;

    position: absolute;
    top: 100%;
    left: 30px;
}