.cont {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #d5d3d3;
}

.face {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ffeb3b;
    border-radius: 50%;
    border: 5px solid #000;
    left: 100px;
    top: 100px;
}

.eye {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    top: 60px;
}

.eye.left {
    left: 50px;
}

.eye.right {
    right: 50px;
}

.mouth {
    position: absolute;
    width: 100px;
    height: 50px;
    border-bottom: 5px solid #000;
    border-radius: 0 0 50px 50px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
