
.element {
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border: blue 3px double;


    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 50px;

    padding: 5px 6px 7px 8px;
    padding: 5px 20px;
    padding: 15px;


    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 50px;

    margin: 10px 50px 5px 30px;
    margin: 10px 100px;
    margin: 10px;



    outline-style: solid;
    outline-width: 20px;
    outline-color: aqua;
    outline-offset: 3px;

    outline: inset 10px gold;

    padding: 0;
    margin: 0;
    outline: none;

    box-shadow: 2px 3px 10px 5px gold;
    box-shadow: 0 0 5px 0px blue;

}

.element2 {
    border: solid 5px red;
}
