
.test {
    border-width: 5px;
    border-color: blue;
    border-style: solid;
    
    border-top: inset 10px aqua;
    border-right: outset 10px black;
    border-bottom: solid 10px blue;
    border-left: 10px red ridge;
    border: inset 5px red;


    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 50px;
    padding: 20px 10px 50px 200px;
    padding: 10px 15px;
    padding: 10px;


    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 10px 10px 10px 10px;
    margin: 20px 10px;
    margin: 10px;


    /* outline-style: solid;
    outline-width: 10px;
    outline-color: aqua;
    outline-offset: 5px;
    outline: darkblue inset 5px; */

    box-shadow: 10px 10px 5px 20px black;
    box-shadow: 0 0 5px 1px black;

}

.test0 {
    border: solid 5px black;
    margin: 0;
}