.calender {
    width: 130px;
    box-shadow: 0 0 5px 5px black;
}

.one {
    background-color: green;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    color: white;
}

.date {
    background-color: aqua;
    text-align: center;
    padding: 10px;
}