.en {
    text-align: justify;
    direction: ltr;
    vertical-align: middle;
}

.ar {
    text-align: right;
    direction: rtl;
}

.text {
    text-align: center;

    text-decoration-line: overline underline;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
    text-decoration-style: solid;

    text-decoration: line-through underline blueviolet dashed 5px ;
    text-decoration: none;

    text-transform: capitalize;

    text-shadow: 20px 15px 5px blue;
    text-shadow: 0 0 10px blue;
    text-shadow: none;

    font-weight: 100;
    font-size: 50px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}