
/* .test{
    text-align: left;
    direction: ltr;
}

.test1{
    text-align: right;
    direction: rtl;
}

.test3{
    vertical-align: sup;
} */

/* .deco {
    text-decoration-line: underline overline line-through;
    text-decoration-color: blueviolet;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration: blue wavy 3px line-through overline;
}

a {
    text-decoration: none;
} */

/* .deco {
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    text-align: center;

    text-shadow: 20px 10px 10px blue;
    text-shadow: 0px 0px 8px yellow;
} */

/* .deco {
    text-align: center;

    font-weight: normal;

    font-size:  large ;
    font-size: 16px;
    font-size: 5rem;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */