
.come {
    background-color: black;
    width: 200px;
    height: 200px;

    opacity: 0.7;

    transition-property: width , height;
    transition-duration: 5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
    transition: width 6s 0.1s linear;
    transition: 6s 0.1s linear;
}

.come:hover {
    background-color: blueviolet;
    width: 600px;
    height: 300px;
    
    opacity: 1;
}


.inp {
    width: 200px;
    height: 50px;
    font-size: 3rem;
    caret-color: black;

    transition: all 4s ease-in-out;
}

.inp:focus {
    background-color: black;
    color: blue;
    caret-color: yellow;
    width: 600px;
}

/* ------------------------------------- */

.tool-tip {
    position: relative;
    top: 100px;
    left: 600px;

    width: 200px;
    height: 200px;

    font-size: 1.5rem;
}

.text{
    background-color: black;
    color: wheat;
    width: 150px;
    text-align: center;
    border-radius: 20px;

    position: absolute;
    bottom: 100%;

    opacity: 0;
}

.tool-tip:hover .text {
    opacity: 1;
}