.test {
    position: relative;
    background-color: aqua;
    width: 30%;
    height: 100px;
    box-sizing: border-box;
    padding: 25px;

    transition-property: background-color ;
    transition-duration: 3s;
    transition-delay: 2s;
    transition-timing-function: linear;

    transition: background-color 5s linear 1s ;
    transition: 5s linear 1s ;

}

.test:hover {
    background-color: blue;
    width: 70%;

    opacity: 0.5;
}

.in {
    width: 40%;
    height: 60px;
    font-size: 50px;

    transition: 2s;
}

.in:focus {
    width: 60%;
    height: 100px;
    background-color: silver;
}