.container {
    height: 100vh;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column nowrap;
    flex-flow: row wrap;
    flex-flow: row wrap;

    /* justify-content: space-evenly ; */
    justify-content: space-evenly;
    /* justify-content: space-around; */

    align-items: center;
    /* align-items: center; */
    /* align-items: center; */
}

.item1 {
    width: 150px;
    height: 100px;
    background-color: red;
}
.item2 {
    width: 150px;
    height: 100px;
    background-color: blue;
}
.item3 {
    width: 150px;
    height: 100px;
    background-color: green;
}
.item4 {
    width: 150px;
    height: 100px;
    background-color: gold;
}
.item5 {
    width: 150px;
    height: 100px;
    background-color: aqua;
}



body {
    background-color: crimson;
}


@media ( max-width: 500px ){
    body {
        background-color: chocolate;
    }

    .container{
        flex-flow: column wrap;
    }
}