.left-align {
    text-align: left;
    color: chocolate;
    text-transform: uppercase;
}
.center-align {
    text-align: center;
    color: red;
    text-decoration: underline;
    text-transform: lowercase;
}
.right-align {
    text-align: right;
    color: blue;
    text-decoration: overline;
    text-transform: capitalize;
}
.justify-align {
    text-align: justify;
    color: blueviolet;
    text-decoration: line-through;

}
.shadow {
    text-shadow: 2px 2px 5px gray;
}
