h1 {
    color: blue !important;
    background-color: red !important;
}

div {
    color: coral !important;
    background-color: chartreuse !important;
}

body {
    background-color: cornflowerblue;
}