* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Header Start */
.logo {
    background-image: linear-gradient(to right, red, blue, black, blue);
    background-clip: text;
    color: transparent;
    width: fit-content;
}

nav .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 50px;
}

nav .links li a {
    transition: all 1s;
}

nav .links li a:hover {
    color: blueviolet;
    border-bottom: 2px blueviolet solid;
}

.login {
    width: 120px;
    height: 50px;
    font-size: 1.2rem;
    border: 3px gold solid;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.677);
    color: yellow;
    transition: all 1s;
}

.login:hover {
    background-color: black;
    border: none;
    font-size: 1.3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    padding: 20px;

    background-image: linear-gradient(to left, aqua, yellow, cyan);
}

/* Header End */